.jumbotron {
  padding-top: 7rem;
  background-image: url(../img/my-background.jpg);
  background-size: cover;
  background-position: center;
  background-color: #e2edff;
}

.display-4 {
  font-family: Sedgwick Ave;
  color: greenyellow;
  text-shadow: 0px 0px 3px black;
}

.lead {
  color: red;
  text-shadow: 0px 0px 3px black;
  font-weight: 600;
  font-style: italic;
  margin-top: 30px;
}

#about {
  margin-top: -20px;
}

#projects {
  background-color: #e2edff;
  margin-top: -70px;
}

footer span {
  font-weight: bold;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
} 